<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ionic-plugin-deeplinks"
    version="1.0.12">
    <name>Ionic Deeplink Plugin</name>
    <description>Ionic Deeplink Plugin</description>
    <license>MIT</license>
    <keywords>Ionic,deeplinks,deeplinking</keywords>
    <repo>https://github.com/driftyco/ionic-plugin-deeplink.git</repo>
    <issue>https://github.com/driftyco/ionic-plugin-deeplink/issues</issue>

    <preference name="URL_SCHEME" />
    <preference name="DEEPLINK_SCHEME" default="" />
    <preference name="DEEPLINK_HOST" default="" />

    <!-- android -->
    <platform name="android">
      <preference name="ANDROID_PATH_PREFIX" default="/" />
      <preference name="ANDROID_PATH_PREFIX_2" default="/" />
      <preference name="ANDROID_PATH_PREFIX_3" default="/" />
      <preference name="ANDROID_PATH_PREFIX_4" default="/" />
      <preference name="ANDROID_PATH_PREFIX_5" default="/" />

      <preference name="DEEPLINK_SCHEME_2" default=" " />
      <preference name="DEEPLINK_HOST_2" default=" " />
      <preference name="DEEPLINK_SCHEME_3" default=" " />
      <preference name="DEEPLINK_HOST_3" default=" " />
      <preference name="DEEPLINK_SCHEME_4" default=" " />
      <preference name="DEEPLINK_HOST_4" default=" " />
      <preference name="DEEPLINK_SCHEME_5" default=" " />
      <preference name="DEEPLINK_HOST_5" default=" " />

      <js-module src="www/deeplink.js" name="deeplink">
        <runs/>
        <clobbers target="IonicDeeplink" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="IonicDeeplinkPlugin">
          <param name="android-package" value="io.ionic.links.IonicDeeplink" />
          <param name="onload" value="true" />
        </feature>
      </config-file>


      <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="$URL_SCHEME" />
        </intent-filter>
        <intent-filter android:autoVerify="true">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="$DEEPLINK_SCHEME" android:host="$DEEPLINK_HOST" android:pathPrefix="$ANDROID_PATH_PREFIX" />
          <data android:scheme="$DEEPLINK_SCHEME_2" android:host="$DEEPLINK_HOST_2" android:pathPrefix="$ANDROID_PATH_PREFIX_2" />
          <data android:scheme="$DEEPLINK_SCHEME_3" android:host="$DEEPLINK_HOST_3" android:pathPrefix="$ANDROID_PATH_PREFIX_3" />
          <data android:scheme="$DEEPLINK_SCHEME_4" android:host="$DEEPLINK_HOST_4" android:pathPrefix="$ANDROID_PATH_PREFIX_4" />
          <data android:scheme="$DEEPLINK_SCHEME_5" android:host="$DEEPLINK_HOST_5" android:pathPrefix="$ANDROID_PATH_PREFIX_5" />
        </intent-filter>
      </config-file>

      <source-file src="src/android/io/ionic/links/IonicDeeplink.java" target-dir="src/io/ionic/deeplink" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/deeplink.js" name="deeplink">
            <runs/>
            <clobbers target="IonicDeeplink" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="IonicDeeplinkPlugin">
                <param name="ios-package" value="IonicDeeplinkPlugin" onload="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
          <array>
            <dict>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>$URL_SCHEME</string>
              </array>
            </dict>
          </array>
        </config-file>

        <source-file src="src/ios/AppDelegate+IonicDeeplink.m" />
        <header-file src="src/ios/IonicDeeplinkPlugin.h" />
        <source-file src="src/ios/IonicDeeplinkPlugin.m" />
    </platform>

    <platform name="browser">
      <js-module src="www/deeplink.js" name="deeplink">
        <runs/>
        <clobbers target="IonicDeeplink" />
      </js-module>
      <js-module src="src/browser/DeeplinkProxy.js" name="IonicDeeplinkProxy">
        <runs />
      </js-module>
    </platform>
</plugin>
